<div class="container-fluid">
  <div class="row text-center bg-light g-5 my-5">
    <div class="col-12">
      <p class="display-3"><strong>Subscribe for more info</strong></p>
    </div>
    <div class="col-12">
      <input type="email" placeholder="Enter your email" />
      <button type="submit" class="ms-2 bg-secondary text-white">
        <b>SUBSCRIBE</b>
      </button>
    </div>
    <div class="col-12">
      <h2 class="lead">Subscribe to receive updates and join our list.</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <p class="display-3"><strong>About us</strong></p>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <div class="card m-5">
        <div class="card-img-top text-center">
          <img class="w-100" src="../../../../assets/img/mochilas.jpg" />
        </div>
        <div class="card-body">
          <h1 class="card-title m-5">Tipos de productos</h1>
          <div class="card-text">
            <p>
              El mercado de la industria del turismo está representado por tres
              tipos principales de productos:
            </p>
            <p>
              1. Un conjunto de servicios interconectados entre sí para la
              realización de un solo objetivo. Por lo general, incluyen un
              paquete completo de servicios turísticos, incorporando
              alojamiento, catering, transporte y servicios al consumidor,
              recreación, animación, deportes.
            </p>
            <p>
              2. Elementos separados de un producto turístico estándar. Por
              ejemplo, solo alojamiento o la comida, la excursión, y etc.
            </p>
            <p>
              3. Productos relacionados y equipo de campamento que son
              necesarios para viajar. Los productos de recuerdo también
              pertenecen a este tipo.
            </p>
            <p>
              Por lo tanto, los dos primeros tipos representan directamente el
              recorrido en sí y sus componentes. Dependiendo de la forma del
              recorrido, el producto turístico se puede dividir en nacional e
              internacional. La característica principal del recorrido nacional
              es el desarrollo de la ruta, que no incluye cruzar la frontera del
              país de residencia permanente, asimismo la promoción y
              popularización de productos turísticos nacionales entre la
              población.
            </p>
            <p>
              Por producto turístico internacional se entiende un viaje con
              cruce de frontera o de varias fronteras y el establecimiento de un
              turismo masivo, estableciendo la cooperación entre países.
            </p>
            <p>
              El impacto de la industria turística en el presupuesto de la
              región permite identificar dos tipos principales de turismo:
              activo y pasivo. El producto turístico pasivo conduce a la salida
              de recursos financieros del Estado, mientras que el activo, por el
              contrario, a una entrada.
            </p>
          </div>
        </div>
      </div>

      <div class="card m-5">
        <div class="card-img-top text-center">
          <img class="w-100" src="../../../../assets/img/productos.jpg" />
        </div>
        <div class="card-body">
          <h1 class="card-title m-5">Tipos de servicios</h1>
          <div class="card-text">
            <p>
              1. Soporte de transporte, que generalmente comienza desde el punto
              de partida de los turistas en la ruta hacia el destino y puede ser
              de varias formas dependiendo del vehículo elegido por la compañía
              de viajes. En el curso de la organización del recorrido, a menudo
              hay varios tipos de transporte.
            </p>
            <p>
              2. Servicios de alojamiento, que son de varios niveles y clases,
              según la categoría del hotel. Al formar un producto turístico
              terminado, antes de incluir la empresa, en el paquete general. Los
              especialistas en agencias de viajes deben visitar personalmente la
              empresa, examinar las habitaciones y el nivel de servicio. Además,
              los turistas deben poder comunicarse con los empleados de la
              agencia de viajes a través de los empleados del hotel. La
              cooperación entre el operador turístico y el hotel debe estar a un
              nivel tal que los clientes tengan la oportunidad de recibir
              servicios adicionales de pagos inmediatamente después de contactar
              a los especialistas del hotel.
            </p>
            <p>
              3. El catering es otro tipo de servicios turísticos prepagados.
              Cabe señalar que la mayoría de los productos turísticos implican
              un sistema de alojamiento y desayuno (overnight and breakfast).
              Hay una gran cantidad de tours que no proveen de comida.
            </p>
            <p>
              4. Las excursiones y visitas turísticas implican la inclusión del
              pago de los servicios de los guías en el paquete turístico, así
              como pequeños gastos menores que surgen durante el recorrido.
            </p>
            <p>
              5. Transporte de alquiler de un vehículo. Dicho servicio puede
              incluirse en el producto turístico general e incluirse en el
              precio del tour o pagarse por los clientes adicionalmente si así
              lo desean.
            </p>
            <p>
              6. Servicios de acompañamiento. La lista de estos servicios es
              bastante grande. Puede incluir asistencia con trámites turísticos,
              exámenes médicos, trámites monetarios, organización de seguros y
              más.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center bg-light g-5 my-5">
      <div class="col-12">
        <p class="display-3"><strong>Needs more info</strong></p>
      </div>
      <div class="col-12">
        <h2 class="lead">send me an email to get more info about products</h2>
      </div>
      <div class="col-12">
        <input type="email" placeholder="Enter your email" />
        <button type="submit" class="ms-2 bg-secondary text-white">
          <b>SUBSCRIBE</b>
        </button>
      </div>
    </div>
  </div>
</div>
