<main *ngIf="productSelec" [ngClass]="{ favoritos: productSelec.favorito }">
  <div class="row me-5 py-5 border-bottom">
    <div class="col-md-6">
      <img [src]="productSelec.image" alt="src/assets/img/noimage.jpg" />
    </div>
    <div class="col-md-6">
      <h1 class="display-1 pt-5 mx-5">
        {{ productSelec.product }}
        <span *ngIf="productSelec.favorito; else favoritoFalse"
          ><img
            class="btn imagenFavorito align-items-end"
            (click)="setFavoritoEmit(productSelec)"
            src="../assets/img/favorito.png"
          />
        </span>
        <ng-template #favoritoFalse>
          <img
            class="btn imagenFavorito align-items-end"
            (click)="setFavoritoEmit(productSelec)"
            src="../assets/img/favorito (1).png"
          />
        </ng-template>
      </h1>

      <div class="pt-2 tb-5 mx-5">
        <div class="stars-outer">
          <div
            class="stars-inner"
            [style.width.%]="productSelec.rating * 20"
            [ngStyle]="{
              color:
                productSelec.rating < 3
                  ? 'red'
                  : productSelec.rating <= 4 && productSelec.rating > 3
                  ? 'orange'
                  : 'yellow'
            }"
          ></div>
        </div>
        &nbsp; &nbsp; &nbsp; 5 Reviews
      </div>
      <h1 class="display-5 pt-2 pb-5 mx-5 border-bottom border-top">
        {{ productSelec.price }}{{ productSelec.currency }}
      </h1>
      <h4 class="lh-lg fw-light pt-3 pb-5 mx-5 border-bottom">
        {{ productSelec.description }}
      </h4>
      <button
        type="button"
        class="btn btn-secondary mx-5 my-3"
        (click)="setProductoBorrar(productSelec)"
      >
        Borrar
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-1 text-center pt-3">Similar Products</h1>
    </div>
  </div>
  <div class="row border-bottom">
    <div
      class="col-md-6 btn"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      *ngFor="let productoSim of productSelec.similarProducts"
      (click)="infoModal(productoSim)"
    >
      <div class="row">
        <div class="col-md-4"><img [src]="productoSim.image" /></div>
        <div class="col-md-8">
          <h1 class="display-5 mt-5 mx-5">{{ productoSim.product }}</h1>
          <h2 class="lead display-6 mt-5 mb-5 mx-5">
            {{ productoSim.price }} {{ productoSim.currency }}
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div
      class="col-md-12 border-bottom"
      *ngFor="let productoRew of productSelec.reviews"
    >
      <div class="row">
        <div class="col-md-2"><img [src]="productoRew.image" /></div>
        <div class="col-md-2">
          <h1 class="display-5 mt-5 mx-5">{{ productoRew.name }}</h1>
          <h2 class="lead display-6 pt-2 mb-5 mx-5">
            {{ productoRew.date }}
          </h2>
        </div>
        <div class="col-md-8">
          <h4 class="lh-lg fw-light mx-5 my-5">
            {{ productoRew.opinion }}
          </h4>
        </div>
      </div>
    </div>
  </div>
</main>
