<header class="d-flex flex-wrap justify-content-center py-5 mb-4 border-bottom">
  <img
    class="d-flex align-items-center text-dark text-decoration-none"
    id="icono1"
    src="../assets/img/viajar.jpg"
  />
  <ul class="nav col-md-auto mb-2 justify-content-center mb-md-0 offset-md-8">
    <li>
      <a routerLink="/productos" class="nav-link px-5 link-dark border-end"
        >Home</a
      >
    </li>
    <li>
      <a routerLink="/about" class="nav-link px-5 link-dark border-end"
        >About</a
      >
    </li>
    <li><a href="#" class="nav-link px-5 link-dark border-end">Shop</a></li>
    <li><a href="#" class="nav-link px-5 link-dark">Help</a></li>
  </ul>
  <div class="text-end mx-5">
    <button type="button" class="btn btn-secondary me-2">Your Cart</button>
  </div>
</header>
