<header>
  <div class=" row d-flex flex-wrap justify-content-center py-5 px-5 border-bottom">
    <div class="col-md-2">
      <img
        class="d-flex align-items-center text-dark text-decoration-none"
        id="icono1"
        src="../assets/img/viajar.jpg"
      />
    </div>
    <div class="col-md-8">
      <ul
        class="nav justify-content-end"
      >
        <li>
          <a routerLink="/productos" class="nav-link px-5 link-dark border-end"
            >Home</a
          >
        </li>
        <li>
          <a routerLink="/about" class="nav-link px-5 link-dark border-end"
            >About</a
          >
        </li>
        <li>
          <a routerLink="/shop" class="nav-link px-5 link-dark border-end"
            >Shop</a
          >
        </li>
        <li>
          <a
            routerLink="/favorites"
            class="nav-link px-5 link-dark"
            >Favorites</a
          >
        </li>
      </ul>
    </div>
    <div class="col-md-2 text-end">
      <button (click)="accesoShop()" type="button" class="btn btn-secondary me-2">Login</button>
    </div>
  </div>
</header>
