<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="app.component.scss" />
  <app-header></app-header>
  <div class="main_aside">
    <div class="row">
      <app-aside
        class="col-md-2"
        (productSelecOutAside)="setProductoSeleccionado($event)"
        (productBuscarOutAside)="setProductoBuscado($event)"
        (productResetOutAside)="setProductoReset()"
        (productFilterOutAside)="setProductoFiltrado($event)"
        [productFilter]="productFilter"
      >
      </app-aside>
      <app-main
        class="col-md-10"
        (borradoMain)="setProductoBorrar($event)"
        (productModal)="infoModal($event)"
        [productSelec]="productSelec"
      ></app-main>
      <app-modal [productModal]="dataModal"></app-modal>
    </div>
  </div>
  <app-footer></app-footer>
</html>
