<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="app.component.scss" />
  <!--<NAVBAR>-->
  <header
    class="d-flex flex-wrap justify-content-center py-5 mb-4 border-bottom"
  >
    <img
      class="d-flex align-items-center text-dark text-decoration-none"
      id="icono1"
      src="../assets/img/def.jpg"
    />

    <ul class="nav col-md-auto mb-2 justify-content-center mb-md-0 offset-md-6">
      <li>
        <a href="#" class="nav-link px-5 link-dark border-end">Home</a>
      </li>
      <li><a href="#" class="nav-link px-5 link-dark border-end">About</a></li>
      <li><a href="#" class="nav-link px-5 link-dark border-end">Shop</a></li>
      <li><a href="#" class="nav-link px-5 link-dark">Help</a></li>
    </ul>
    <div class="text-end mx-5">
      <button type="button" class="btn btn-secondary me-2">Your Cart</button>
    </div>
  </header>
  <!--<MAIN-ASIDE>-->
  <div class="main_aside">
    <!--<ASIDE>-->
    <div class="row">
      <aside class="col-2 p-3 bg-white d-flex flex-column">
        <input
          type="busqueda"
          class="form-control mb-3"
          id="buscar"
          placeholder="Buscar"
        />
        <button type="button" class="btn btn-secondary mb-3">Filter</button>
        <button type="button" class="btn btn-secondary mb-5">
          Reset Filter
        </button>
        <b>Products</b>
        <ul class="list-unstyled my-3 ps-0">
          <div *ngFor="let datas of data">
            <li class="mb-3">
              <button class="btn btn-toggle" (click)="buttonClick()">
                {{ datas.product }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &#10095;
              </button>
            </li>
          </div>
        </ul>
      </aside>
      <!--<MAIN>-->
      <main class="col-10">
        <div class="row me-5 py-5 border-bottom">
          <div class="col-6">
            <img src="../assets/img/defa.png" />
          </div>
          <div class="col-6">
            <h1 class="display-1 pt-5">Product title</h1>
            <h5 class="review-count py-5 me-5 border-bottom">5 Reviews</h5>
            <h1 class="display-5 pt-2 pb-5 me-5 border-bottom">$ 1232</h1>
            <h4 class="pt-3 pb-5 me-5 border-bottom">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
              dignissimos ea quibusdam assumenda nam illo et maxime veritatis
              nulla! Tempore voluptatibus quae quasi esse voluptas deleniti
              perspiciatis enim voluptatum aut.
            </h4>
            <button type="button" class="btn btn-secondary mx-5 my-3">
              Delete item
            </button>
          </div>
          <div></div>
        </div>
        <div class="row">
          <div class="col-12">
            <h1 class="display-1 text-center pt-3">Similar Products</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-2"><img src="../assets/img/defa.png" /></div>

          <div class="col-4"></div>
          <div class="col-2"><img src="../assets/img/defa.png" /></div>
          <div class="col-4"></div>
        </div>
        <div class="row">
          <div class="col-12"></div>
        </div>
        <div class="row">
          <div class="col-1"><img src="../assets/img/defa.png" /></div>
          <div class="col-2"></div>
          <div class="col-9">
            <h4 class="pt-3 pb-5 me-5 border-bottom">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
              dignissimos ea quibusdam assumenda nam illo et maxime veritatis
              nulla! Tempore voluptatibus quae quasi esse voluptas deleniti
              perspiciatis enim voluptatum aut.
            </h4>
          </div>
        </div>
        <hr width="100px" />
        <div class="row">
          <div class="col-1"><img src="../assets/img/defa.png" /></div>
          <div class="col-2"></div>
          <div class="col-9">
            <h4 class="pt-3 pb-5 me-5 border-bottom">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
              dignissimos ea quibusdam assumenda nam illo et maxime veritatis
              nulla! Tempore voluptatibus quae quasi esse voluptas deleniti
              perspiciatis enim voluptatum aut.
            </h4>
          </div>
        </div>
      </main>
    </div>
  </div>
</html>
